/*Scroll bar */
body {
  overflow-y: scroll;
  overflow-x: hidden;
}
/*Location of logo*/
div#logo {
  position: relative;
  top: 20px;
  left: 50px;
}
/* Font of home contact about */
div#homeContactAbout a {
  text-decoration: none;
  color: grey;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}
/*Effect change color when hover sa home contact about*/
div#homeContactAbout a:hover {
  color: red;
}
/*Remove bullet in the list Location set den*/
div#homeContactAbout ul {
  list-style-type: none;
  position: relative;
  left:900px;
  top:-30px;
}
/*Spacing in home contact about*/
div#homeContactAbout li {
  float: left;
  padding-right: 50px;
}
/*para mag wrap yung main pic*/
div#mainPicture{
  
  display: flex;
  flex-wrap:wrap
}
/*Pwesto ng malaking pic sa gitna*/
img#pic {
  position: relative;
  right:125px;
  top:-20px;
}
/*Font of name Positio den ng name*/
h1#name {
  position: relative;
  top:-30px;
  left:410px;
  font-family: "Rozha One", serif;
  font-size: 70px;
}
/*font of career and position absolute kasi sa center text eto kulay*/
h2#career {
  position: relative;
  top:-60px;
  left: 470px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  word-spacing: 5px;
  color: grey;
}
/*Start ng project collection*/
div#projectCollection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/*Para may space sa images*/
div#projectCollection > div.project {
  margin-right: 50px;
  margin-left:20px;
}
/*Starting location ng first image*/
div.project {
  position: relative;
  left:30px;
}
/*Starting effect*/
div.effect {
  position: absolute;
  background-color: black;
  width: 525px;
  height: 400px;
  top: 0px;
  left: 0px;
  opacity: 65%;
  display: none;
}
/*PROJECT TITLE CUSTOMIZATION*/
h1.projectTitle {
  text-align: center;
  margin-top:120px;
  font-family: "Rozha One", serif;
  font-size: 70px;
  color:white;
}
div.project:hover div.effect {
  display: inline;
}
